body{
	background-color: white;
	max-width:960px;
	min-width: 800px;
	margin: 0 auto;
	letter-spacing: 1px;
}

body > header > nav {
	font-size: 12px; 
	height: 52px;
	width: 320px;
	margin-top: 28px;
	padding: 0;
	float: right;
}	
body > header > nav > ul{
	box-sizing: border-box;
	padding:0px;
	margin:0px;
	list-style-type: none;
	text-decoration: none;
	line-height: 16px;
}
body > header > nav > ul > li{
	display: inline-block;
}
body header nav ul li:nth-child(1),body header nav ul li:nth-child(2),body header nav ul li:nth-child(3),body header nav ul li:nth-child(4){
	border-bottom: 1px dotted #555555;
}
body header nav ul li:nth-child(1)::after,body header nav ul li:nth-child(2)::after,body header nav ul li:nth-child(3)::after{
	content: "‧";
}
body header nav ul li:nth-child(5)::after,body header nav ul li:nth-child(6)::after,body header nav ul li:nth-child(7)::after{
	content: "‧";
}
body header nav ul li a{
	text-decoration: none;
	color: #555555;
}
body header nav ul li a:hover{
	text-decoration: none;
	color: #ff6600;
}

/*navigation below the header*/
#intro ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#intro ul li{
	display: inline-block;
}
#intro ul li:nth-child(2),#intro ul li:nth-child(4),#intro ul li:nth-child(5),#intro ul li:nth-child(6),
#intro ul li:nth-child(7),#intro ul li:nth-child(8),#intro ul li:nth-child(9),#intro ul li:nth-child(10){
	margin-left: -5px;
}
#intro ul li:nth-child(1):hover{
	content: url(http://artist.nccu.edu.tw/2012spring/images/nav_intro_on.gif);
}
#intro ul li:nth-child(2):hover{
	content: url(http://artist.nccu.edu.tw/2012spring/images/nav_program_on.gif);
}
#intro ul li:nth-child(4):hover{
	content: url(http://artist.nccu.edu.tw/2012spring/images/nav_exhibition_on.gif);
}
#intro ul li:nth-child(5):hover{
	content: url(http://artist.nccu.edu.tw/2012spring/images/nav_performance_on.gif);
}
#intro ul li:nth-child(6):hover{
	content: url(http://artist.nccu.edu.tw/2012spring/images/nav_movies_on.gif);
}
#intro ul li:nth-child(7):hover{
	content: url(http://artist.nccu.edu.tw/2012spring/images/nav_talks_on.gif);
}


#introTable .dashed{
	border-bottom: 0.5px dotted #339933;
	padding:0;
}
#introTable tr td a.green{
	text-decoration: none;
	color: #339933;
    font-weight: none;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1px;
}
#introTable tr td a:visited{
	color: red;
}
#introTable tr td a.green:hover{
	color: #ff9900;
}
#introTable tr td a:not(.green){
	color: #ff6633;
	font-weight: none;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1px;
}
#introTable tr td a:not(.green):hover{
	color: #006699;
}

#middleImg{
	display: flex;
	justify-content:center;
	box-sizing: border-box;
}
#middleImg div h3{
	color: #ff6633;
	font-size: 15px;
	font-weight: bold;
}
#middleImg div{
	height: 304px;
}
#middleImg div span{
	display: block;
	height: 30px;
	background-color: black;
}
#middleImg div p{
	color: white;
	font-size: 12px;
}
#makeSpace{
	padding-left: 20px;
	padding-right: 20px;
}

body>section{
	width: 71%;
	float: left;
	margin-top: 20px;
}
body section #concertTracks{
	margin-top: 0;
}
.headline{
	font-size: 1.4em;
	color: #669933;
}
#schedule{
	background-color: #EEF5DF;
	border: 1px solid #E6E1DA;
}
#schedule thead tr{
	background-color: #99CC00;
}
#schedule{
	width: 100%;
	font-size: 0.7em;
	border-collapse: collapse;
}
.alignCenter{
	text-align: center;
	border: 1px solid white;
}
.alignLeft{
	text-align: left;
	border: 1px solid white;
}
#bgWhite{
	background-color: white;
}
#bgWhite2{
	background-color: white;
}

#a1{
	border-bottom: 1px dotted orange;
	display: flex;
	justify-content: flex-start;

}
#a2{
	padding-top: 15px;
	border-bottom: 1px dotted orange;
	display: flex;
	justify-content: flex-start;
}
#a3{
	padding-top: 15px;
	display: flex;
	justify-content: flex-start;
}
.floatLeft{
	flex: 38%;
	padding-right: 10px;
}
.floatRight{
	flex: 62%;	
}
#prolong{
	border-top: 100px solid black;
}
.headlineIcon{
	display: inline-block;
	width: 40px;
	height: 10px;
	background-color: #C0D43D;
}
article p:not(.headline){
	font-size: 0.7em;
	line-height: 1.7;
}


body>aside{
	width: 27%;
	float: right;
	margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
	background-color: #EEF5DF;
	box-sizing: border-box;
	border-top: 4px solid #C0D43D;
}
body>aside>span{
	margin-top: 0px;
	font-size: 1.4em;
	color: #669933;
}
.smallHeadlineIcon{
	display: inline-block;
	width: 20px;
	height: 4px;
	background-color: #C0D43D;	
}
body>aside>p{
	font-size: 1.2em;
	padding-left: 6px;
	padding-right: 6px;
}
body>aside>table{
	font-size: 0.7em;
	line-height: 1.7;
}


footer{
	line-height: 1.7;
	font-size: 0.7em;
}
footer #topButton{
	display: block;
	display: flex;
	justify-content: flex-end;
}

body>footer{
	clear:both;

}
body footer #container{
	display: flex;
	justify-content: flex-start;
}
body>footer #bottomRight{
	flex: 45%;
}
body>footer #bottomMiddle{
	flex: 3;
}

body>footer #bottomRight ul{
	list-style-type: none;
	text-align: right;
	
}
body>footer #bottomRight ul li{
	display: inline-block;
	border-right: 1px solid #666666;
}

body>footer #bottomRight ul li a{
	text-decoration: none;
	color:#555555;
}
body>footer #bottomRight ul li a:hover{
	text-decoration: none;
	color:#ff6600;
}
body footer #bottomLeft{
	flex: 0.5;
	box-sizing: border-box;
	padding-top: 5px;
}
body footer{
	overflow: auto;
	border-bottom: 8px solid #666666;
}
body footer hr{
	border: 0;
	border-bottom: 1px dotted #666666;
	margin: 0;
}
